---
import Container from './Container.astro';
---

<footer class='py-20 text-center text-sm text-slate-500'>
  <Container class='place-items-center gap-y-8'>
    <p>
      Copyright © {new Date().getFullYear()} swablab e.V. Alle Rechte vorbehalten.
    </p>
    <p class='max-w-md'>
      swablab e.V. ist ein eingetragener, gemeinnütziger Verein und eine von vielen <a
        href='https://offene-werkstaetten.org/'
        class='text-brand-800 hover:text-brand-700 font-bold transition-colors hover:underline'>offenen Werkstätten</a
      > in Deutschland.
    </p>
  </Container>
</footer>
