---
import { Tick } from "./ui/icons";
import Link from "./ui/link.astro";

export interface Props {
  name: string;
  price: string;
  benefits?: string[];
  class?: string;
}
---

<div
  class:list={[
    "relative flex w-full flex-col gap-8 rounded-md border-2 border-slate-300 p-6",
    Astro.props.class,
  ]}>
  <div class="text-center">
    <h4 class="text-lg font-medium text-gray-400">{Astro.props.name}</h4><p
      class="mt-3 text-4xl font-bold text-black md:text-4xl">
      {Astro.props.price}
    </p>
  </div>
  <ul class="grid gap-y-4 text-left">
    {
      Astro.props.benefits?.map((b) => (
        <li class="flex items-start gap-2 text-gray-800">
          <Tick class="h-[1lh] w-6 shrink-0" />
          <span>{b}</span>
        </li>
      ))
    }
  </ul>
  {
    Astro.slots.has("default") && (
      <div class="flex grow flex-col items-stretch justify-end gap-2">
        <slot />
      </div>
    )
  }
</div>
